
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    margin: 30px 400px;
   
    
    background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            width: 350px;
}

.item-center{
    text-align: center;
}
.display {
    background-color: #eee;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
}
.btn{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
.row{
    margin: 12px 0px;
   
}
.row input{
   padding:0.5rem 1.5rem;
   border: 2px solid black;
   border-radius: 10px;
}
.equal{
    padding: 20px 50px;
    text-align: center;
    justify-self: center;
}
